@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'TikTok Sans', sans-serif;
}

body {
	min-height: 100dvh;
	background-color: $grayColor;
	overflow-y: hidden;

	.app1 {
		width: 100%;
		height: 100dvh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
	}

	.container {
		background: #45fff9;
		background: #45fff9;
		background: linear-gradient(
			158deg,
			rgba(69, 255, 249, 1) 0%,
			rgba(77, 232, 193, 1) 46%,
			rgba(122, 122, 255, 1) 100%
		);
		padding: 45px 30px;
		border-radius: 20px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		max-width: 650px;
		width: 100%;

		.input-container {
			position: relative;
			width: 100%;
			display: flex;
			gap: 15px;

			input {
				width: 100%;
				border-radius: 300px;
				border: none;
				outline: none;
				padding: 15px;
				font-size: 1rem;
				font-weight: 600;
				color: $lightGrayColor;
				outline: 2px solid transparent;
				transition: 200ms ease;

				&::placeholder {
					color: #979797;
				}

				&:focus,
				&:hover {
					outline: 2px solid $lightGrayColor;
				}

				&.error {
					outline: 2px solid rgb(255, 80, 80);
				}
			}

			.search-btn {
				background-color: $whiteColor;
				cursor: pointer;
				min-width: 50px;
				height: 50px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				border: none;
				outline: 2px solid transparent;
				padding: 15px;
				transition: 200ms ease;

				img {
					width: 15px;
					height: 15px;
				}

				&:hover {
					background-color: $lightWhiteColor;
					outline: 2px solid $lightGrayColor;
				}
			}

			.error-message {
				position: absolute;
				bottom: -25px;
				left: 10px;
				color: rgb(255, 51, 51);
				font-weight: 600;
				font-size: 1rem;
				text-decoration: underline;
				animation: fadeIn 0.35s forwards;
			}
		}

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: scale(0);
			transition: 300ms ease;
			width: 100%;

			.weather-image {
				width: 200px;
				margin: 20px 0;
			}

			h2,
			h3 {
				color: $whiteColor;
				pointer-events: none;
				user-select: none;
			}

			h2 {
				font-size: 4rem;
				font-weight: 700;
				background-color: $grayColor;
				padding: 10px 30px;
				border-radius: 8px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
				margin-bottom: 15px;
			}

			h3 {
				font-size: 2.8rem;
				font-weight: 700;
				margin-bottom: 60px;
			}

			.info-container-wrapper {
				display: flex;
				justify-content: space-between;
				width: 85%;
				gap: 40px;

				.info-container {
					display: flex;
					flex-direction: column;
					gap: 30px;
					flex: 2;

					.col {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						gap: 10px;

						.animated-icon {
							transform: scale(1);
							width: 70px;
							height: 70px;
						}

						.col-column {
							display: flex;
							flex-direction: column;

							.col-column-info-value {
								font-size: 2rem;
								line-height: 2rem;
								color: $whiteColor;
							}

							.col-column-info-name {
								color: $lightGrayColor;
								margin-top: 10px;
								font-weight: 800;
							}
						}
					}
				}
			}

			&.open {
				opacity: 1;
				max-height: 590px;
				visibility: visible;
				transform: scale(1);
			}
		}
	}

	.city-popup {
		display: flex;
		align-items: center;
		gap: 10px;
		background-color: rgb(255, 80, 80);
		position: fixed;
		top: 10px;
		padding: 7px;
		border-radius: 10px;
		border: 1px solid $lightWhiteColor;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
		transition: 200ms ease;
		transform-origin: center top;
		opacity: 0;
		transform: scale(0);

		h3 {
			font-size: 0.85rem;
			color: $whiteColor;
		}

		.img-wrapper {
			border-radius: 50%;
			background-color: $whiteColor;
			padding: 5px;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 25px;
			}
		}

		&.shown {
			transform: scale(1);
			opacity: 1;
		}

		i {
			color: $whiteColor;
			font-size: 1.2rem;
			padding: 6px;
			background-color: $grayColor;
			border-radius: 50%;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(-35px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (max-width: 700px) {
	body {
		min-height: 100dvh;
		overflow-y: auto;

		.container {
			padding: 15px 20px;
			width: 100%;

			.wrapper {
				.weather-image {
					width: 170px;
				}

				h2 {
					font-size: 2.2rem;
					padding: 6px 20px;
				}

				h3 {
					font-size: 1.8rem;
					margin-bottom: 10px;
				}

				.info-container {
					gap: 10px;
				}

				&.open {
					max-height: 600px;
				}
			}
		}
	}
}

@media (max-width: 595px) {
	body .container {
		.input-container input {
			padding: 10px;
			font-size: 0.9rem;
		}

		.input-container .search-btn {
			min-width: 40px;
			height: 40px;
			padding: 10px;
		}

		.wrapper {
			.weather-image {
				width: 140px;
				margin: 0 0;
			}
			h2 {
				font-size: 1.75rem;
				padding: 7px 10px;
			}

			h3 {
				font-size: 1.4rem;
			}

			.info-container {
				gap: 6px;
			}

			.info-container-wrapper {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 10px;

				.info-container {
					gap: 6px;

					.col {
						justify-content: center;

						.animated-icon {
							width: 36px;
						}
						.col-column .col-column-info-value {
							font-size: 1.2rem;
							line-height: 1.2rem;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 380px) {
	body .container .input-container {
		flex-direction: column;
		align-items: center;
		gap: 10px;

		.error-message {
			top: 55px;
		}
	}
}
